// Colors
$primary-color: #558564;
$dark-gray: #434443;
$light-gray: #919191;
$black: #010101;
$white: #ffffff;

// Font Family
$default-font: Now, Kollektif, Inter;

//Font Sizes
$default-large: 1.9rem;
$default-medium: 1.5rem;
$default-small: 1.2rem;

//Padding
$default-large-padding: 1.9rem;
$default-medium-padding: 1.5rem;
$default-small-padding: 1.125rem;
