.banner {
  background-image: url("../assets/banner.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10px 20px;
  box-sizing: border-box;
  opacity: 0.25;
}
