@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.navbar {
  @include flex-container($justify: space-between, $align: center);
  padding: $default-small-padding 0px;
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.nav-item {
  @include flex-container();
  @include title-font($font-size: $default-medium, $font-weight: normal);
  color: $white;
  text-decoration: none;
  gap: 5px;

  &:hover {
    color: $primary-color;
  }
}

.nav-item-container {
  @include flex-container();
  grid-column: 1 / 7;
  gap: 20px;
}

.button-item-container {
  @include flex-container($justify: flex-end);
  grid-column: 7 / 13;
}
