@use "./utilities/variables" as *;

:root {
  font-family: $default-font;
  background-color: $dark-gray;
}

body {
  margin: 0;
}

header {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
